MARIADB_USER=syncstorage
MARIADB_PASSWORD=syncstorage
SYNC_MASTER_SECRET=<REPLACE_WITH_SOMETHING_SECURE>
METRICS_HASH_SECRET=<REPLACE_WITH_SOMETHING_SECURE>
SYNCSTORAGE_DOMAIN=https://<REPLACE_WITH_YOUR_DOMAIN>
CONTAINER_EXPORT_PORT=5000